
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}


body {
    background-color: #EEEEEE;
}

.wrapper {

    display: flex;
    background-color: white;
    margin: 10em auto;
    max-width: 1100px;
    flex-wrap: wrap;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 0.2);
    gap: 15px;

}

.wrapper>* {
    border: 2px solid lightgrey;
    padding: 20px;
    flex: 1 1 auto;
    border-radius: 2px;
}

.wrapper > header,
.wrapper > footer {
    flex : 1 1 100% ;
}

.wrapper > main {
    flex-grow: 7;
}

.wrapper > aside {
    flex: 3;
}

@media (max-width: 1100px) {
    .wrapper {
        flex-direction: column;
    }
}